<ng-progress id="myProgress" [direction]="'ltr+'" [min]="20" [max]="1" [speed]="200" [trickleSpeed]="300" [spinner]="true" [spinnerPosition]="'left'"
             [thick]="true" [meteor]="true" [color]="'red'" [ease]="'linear'"></ng-progress>
<router-outlet></router-outlet>
