/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-bottom .leaflet-control {
  margin-bottom: 0px !important;
}

.info {
  display: inline-block;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.bottomright {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
  }

.bottomleft {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
  }

.leaflet-container .list-markers {
	position:relative;
	float:left;
	color:black;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	/*background-color: rgba(0, 0, 0, 0.25);*/
	background-color: rgba(255, 255, 255, 0.4);
	z-index:1000;
	box-shadow: 0 1px 7px rgba(0,0,0,0.65);
	margin-left:10px;
	margin-top:10px;

	min-width:26px;
	min-height:26px;
}

.leaflet-control.list-markers .list-markers-toggle {
	display: none;
}
.leaflet-control.list-markers.list-markers-collapsed .list-markers-toggle {
	display: block;
}


.menu-content {
    max-height: 0;
    height: 90px;    /* Tamaño del scroll en horizontal */
    overflow: auto;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 0 0 50px;
}

.list-markers ul {
    list-style-type: none;
    padding: 0;
}

.list-markers label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: block;
    cursor: pointer;
    color:black;
    font-weight: bold;
    background: url('/assets/images/list-icon.png') no-repeat left center;
    right: 100px;
    padding: 10px 10px 10px 200px;
}
input#menu {
    display: none;
}

input#menu2 {
    display: none;
}

input#menu3 {
  display: none;
}

input#menu4 {
  display: none;
}

input#menu5 {
  display: none;
}

/* Toggle Effect */
input:checked ~ label {
    background-image: url('/assets/images/close.png');
}
input:checked ~ .menu-content {
    max-height: 100%;
}

.list-markers-ul {
/*	border: 1px solid blue;*/
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: x-large;
}
.list-markers-li {
	padding: 0;
	margin: 0;
	clear: both;
	border-bottom: 1px solid #666;
}
.list-markers-li:first-child {
	border: none;
}


.list-markers-li input {
  float: left;
}

.list-markers-li span {
	float: left;
}
.list-markers-li a {
	display: block;
	line-height: 20px;
	overflow: hidden;
	margin: 1px;
	padding: 2px 4px;
	border-radius: 4px;
	font-size: 12px;
	color: #666;
	text-decoration: none;
}

.list-markers-li a:hover {
	color: black;
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.8);
}
.leaflet-control.list-markers .list-markers-ul {
	display: block;
}
.leaflet-control.list-markers.list-markers-collapsed .list-markers-ul {
	display: none;
}

.list-markers .list-markers-toggle {
	display:block;
	float:left;
	width:26px;
	height:26px;
	background: url('/assets/images/list-icon.png') no-repeat 2px 2px;
	border-radius:4px;
}
.list-markers .list-markers-toggle:hover,
.list-markers .list-markers-toggle.active:hover {
	background: url('/assets/images/list-icon.png') no-repeat 2px -24px #fff;
}
.list-markers .list-markers-toggle.active {
	background: url('/assets/images/list-icon.png') no-repeat 2px -50px #fff;
}

/* Create a custom checkbox */
.checkmarkInput {
  width: 40px;
}

.checkmark {
  width: 350px;
}


.rTable {
  display: table;
  width: 500px;
}
.rTableRow {
  display: table-row;
}
.rTableHeading {
  display: table-header-group;
  background-color: #ddd;
}
.rTableCell, .rTableHead {
  display: table-cell;
  padding: 3px 10px;
  border: 1px solid #999999;
}

